{% extends 'base.html.twig' %}
{% form_theme form with './form/form.html.twig' %}

{% block title %}Create client{% endblock %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block javascript %}
    {{ parent() }}
    {{ encore_entry_script_tags('client_phone')  }}
{% endblock %}

{% block content %}
    <div class="form d-flex justify-content-center">
        {{ form_start(form) }}
        <div class="row">
            <div class="col">
                {{ form_row(form.firstName) }}
            </div>
            <div class="col">
                {{ form_row(form.lastName) }}
            </div>
        </div>
                {{ form_row(form.email) }}
                {{ form_row(form.gender, {'attr': {'class': 'align-items-center'}}) }}
        <div>
            {{ form_label(form.avatar) }}
            {% if form.avatar.parent.vars.value == null %}

            {{ form_widget(form.avatar) }}
            {% else %}
            <img style="display: block; margin-bottom: 10px" src="{{ (avatars_url~form.avatar.parent.vars.value.img) | imagine_filter('edit_thumb')}}" alt="">
            {{ form_widget(form.avatar) }}
            {% endif %}
        </div>
        <div>
            {{ form_row(form.tags) }}
        </div>
                {{ form_row(form.isActive) }}
                {{ form_row(form.address , {'attr': {'class': 'align-items-center'}})  }}

                {% for message in app.flashes('notice') %}
                    <div class="flash-notice">
                        {{ message }}
                    </div>
                {% endfor %}
{#                {{ form_widget(form.phones) }}#}
                    <ul class="phones" style="list-style: none"
                        data-index="{{ form.phones|length > 0 ? form.phones|last.vars.name + 1 : 0 }}"
                        data-prototype="{{ form_widget(form.phones.vars.prototype)|e('html_attr') }}"
                    >
                        {% for phone in form.phones %}
                            <li>
                                {{ form_widget(phone.number) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="button" class="add_item_link" data-collection-holder-class="phones">Add a phone</button>
                <div class="d-flex justify-content-center">
                    {{ form_row(form.save) }}
                </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

