{% extends 'base.html.twig' %}
{% form_theme searchForm with './form/searchFormTheme.html.twig' %}

{% block title %}Clients{% endblock %}
{% block pageTitle %}All clients{% endblock %}

{% block content %}

        <div class="mb-5 d-flex justify-content-center searchForm">
            {{ form_start(searchForm) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(searchForm.name) }}
                    </div>
                    <div class="col">
                        {{ form_row(searchForm.email) }}
                    </div>
                </div>
                {{ form_row(searchForm.phone) }}
                <div class="row">
                    <div class="col">
                        {{ form_row(searchForm.gender) }}
                    </div>
                    <div class="col">
                        {{ form_row(searchForm.city) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {{ form_row(searchForm.sortField) }}
                    </div>
                    <div class="col">
                        {{ form_row(searchForm.orderBy) }}
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    {{ form_row(searchForm.sort) }}
                </div>
            {{ form_end(searchForm) }}
        </div>


        <div class="d-flex justify-content-center">

            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary" href="{{ path('clients_form_add') }}">Add Client</a>
            {% endif %}

        </div>
        {% if pagination %}
            <table class="table mt-5">
                <thead>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Gender</th>
                <th scope="col">Active</th>
                <th scope="col">Phone</th>
                <th scope="col">Street 1</th>
                <th scope="col">Street 2</th>
                <th scope="col">Zip</th>
                <th scope="col">City</th>
                <th scope="col">Created by whom</th>
                <th scope="col">Created at</th>
                <th scope="col">Updated at</th>
                {% if is_granted('ROLE_ADMIN') %}
                    <th scope="col">Action</th>
                {% endif %}
                </thead>

                <tbody>
                {% for client in pagination %}
                <tr>
                    <th scope="row">{{ client.id }}</th>
                    <th scope="row">{{ client.firstName }}</th>
                    <th scope="row">{{ client.lastName }}</th>
                    <th scope="row">{{ mail(client.email) }}</th>
                    <th scope="row">
                        {{ client.gender|gender(client.gender, client) }}
                    </th>
                    <th scope="row">{{ client.isActive ? 'true' : 'false'}}</th>
                    <th scope="row">
                        {% for phones in client.phones %}
                            {{ phones.number }}
                        {% endfor %}
                    </th>
                    <th scope="row">{{ client.address.str1 }}</th>
                    <th scope="row">{{ client.address.str2 }}</th>
                    <th scope="row">{{ client.address.zip }}</th>
                    <th scope="row">{{ client.address.city.name|capitalize  }}</th>
                    <th scope="row">{{ client.user.email  }}</th>
                    <th scope="row">{{ client.createdAt|date("Y-m-d H:i") }}</th>
                    <th scope="row">{{ client.updatedAt|date("Y-m-d H:i") }}</th>

                    <th scope="row">
                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="btn btn-danger" href="{{ path('clients_form_delete', {id: client.id}) }}">Delete</a>
                        {% endif %}
                        {% if client.user.id == user.id %}
                            <a class="btn btn-primary" href="{{ path('clients_form_edit', {id: client.id}) }}">Edit</a>
                        {% endif %}
                        </th>
                </tr>
                </tbody>
                {% endfor %}

                </table>
       {% else %}
            Clients not found
        {% endif %}
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}
