<h1>Added new client by {{ username }}</h1>

<p>
   User {{ username }} add the client: <br>
   First Name: {{ client.firstName }} <br>
   Last Name: {{ client.lastName }} <br>
   Email: {{ client.email }} <br>
{#   <img src="{{ (avatars_url ~ client.img) | imagine_filter('list_thumb')}}" alt="no avatar">#}
{#   <a href="{{ app.request.getSchemeAndHttpHost() ~ path('clients_form_edit', {id: client.id}) }}">Watch client</a>#}
</p>

<p>
   Added at {{ expiration_date|date("Y-m-d H:i") }}
</p>